# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# VSCode settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs / Debug
*.log
*.bak
*.tmp

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
